# Dependencies
node_modules/
/.pnp
.pnp.*

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Env
.env
.env.*
!.env.example
